---
import logo from '/logotypes/logo_vertical.png';
import gitIcon from '/icons/brand-github.svg'
import lightMode from '/icons/brightness-down.svg'
---

<nav class="flex justify-between h-20 w-full items-center">
  <div class="w-[12rem]"><img src={logo} alt="Monkey Developers Logo."/></div>
  <ul class="flex gap-5">
    <li class="cursor-pointer"><a href="#">Blogs</a></li>
    <li class="cursor-pointer"><a href="#">Monkeys</a></li>
    <li class="cursor-pointer"><a href="#">Portfólio</a></li>
    <li class="cursor-pointer"><a href="#">About</a></li>
  </ul>
  <div class="flex gap-5">
    <div class="hover:bg-slate-50 hover:shadow-slate-300 duration-200 shadow shadow-slate-400 p-3 rounded-full cursor-pointer"><a href="https://github.com/monkey-developers" target="_blank"><img src={gitIcon} width="25px" alt="Icon GitHub" /></a></div>
    <div class="hover:bg-slate-50 hover:shadow-slate-300 duration-200 shadow shadow-slate-400 p-3 rounded-full cursor-pointer"><img src={lightMode} width="25px" alt="icon light mode" /></div>
    
  </div>
</nav>