---
import logo from '../public/logo_vertical.png';
---

<nav class="flex justify-between h-20 w-full items-center">
  <div class="w-[12rem]"><img src={logo} /></div>
  <ul class="flex gap-5">
    <li class="cursor-pointer"><a href="#">Blogs</a></li>
    <li class="cursor-pointer"><a href="#">Monkeys</a></li>
    <li class="cursor-pointer"><a href="#">Portfólio</a></li>
    <li class="cursor-pointer"><a href="#">About</a></li>
  </ul>
  <div class="flex gap-5">
    <div class="bg-gray-200 p-2 rounded-full">GitHub</div>
    <div class="bg-gray-200 p-2 rounded-full">Dark/light</div>
  </div>
</nav>
